<%# show_filters: :when_filtered %>
<h1>Regional Transit System</h1>

<%= grid(@riders_grid) do |g|

  g.column :name => 'ID' do |rider|
    rider.id
  end

  g.column :name => 'Stop On' do |rider|
    rider.stop_on
  end

  g.column :name => 'Time On' do |rider|
    rider.time_on
  end

  g.column :name => 'Stop Off' do |rider|
    rider.stop_off
  end

  g.column :name => 'Time Off' do |rider|
    rider.time_off
  end

  g.column :name => 'Time Difference' do |rider|
    rider.time_difference
  end

  g.column do |rider|
    link_to('Edit', edit_rider_path(rider))
  end

end -%>
