<%# show_filters: :when_filtered %>
<h1>Regional Transit System</h1>

<%= define_grid(@riders_grid, hide_submit_button: true, hide_reset_button: true) do |g|

  g.column name: 'Date', attribute: 'date', detach_with_id: :date_filter do |task|
    task.date.to_s(:short)
  end
  g.column name: 'Route Number', attribute: 'routeNumber', detach_with_id: :routeNumberfilter
  g.column name: 'Stop On', attribute: 'stopOn', detach_with_id: :stopOn_filter
  g.column name: 'Time On', attribute: 'timeOn', detach_with_id: :timeOn_filter
  g.column name: 'Stop Off', attribute: 'stopOff', detach_with_id: :stopOff_filter
  g.column name: 'Time Off', attribute: 'timeOff', detach_with_id: :timeOff_filter
  g.column name: 'Time Difference', attribute: 'timeDifference', detach_with_id: :timeDifference_filter

end -%>
